<%= form_with model: [comment.book, comment], local: true do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.label :status %><br>
    <%= form.select :status, Visible::VALID_STATUSES, selected: comment.status %>
  </p>
  <p>
    <%= form.submit "Save" %>
  </p>
<% end %>