<%= form_with model: book do |form| %>

<div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% book.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <%end%>
</div>

<div>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
    <% book.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <%end%>
</div>

<div>
    <%= form.label :grade %><br>
    <%= form.number_field :grade %>
    <% book.errors.full_messages_for(:grade).each do |message| %>
      <div><%= message %></div>
    <%end%>
</div>
 <div>
    <%= form.label :status %><br>
    <%= form.select :status, Visible::VALID_STATUSES, selected: book.status || 'public' %>
  </div>

<div>
    <%= form.submit "Enviar" %>     
</div>

<%end%>