<h1><%=@book.title %></h1>

<p><%= @book.body %></p>

<p><%= @book.grade %></p>

<ul>
    <li><%= link_to "Editar conteúdo", edit_book_path(@book) %></li>
    <li><%= link_to "Apagar livro", book_path(@book), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></li>
</ul>

<h2>Comments</h2>

<%= render @book.comments %>

<h2>Adicione um comentário:</h2>

<%= render 'comments/form', book: @book, comment: @book.comments.build %>
